<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nancy" version="0.23.0" targetFramework="net40" />
  <package id="Nancy.Hosting.Aspnet" version="0.23.0" targetFramework="net40" />
  <package id="Nancy.ViewEngines.Veil" version="0.2.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net40" />
  <package id="Veil" version="0.2.0" targetFramework="net40" />
  <package id="Veil.Handlebars" version="0.2.0" targetFramework="net40" />
  <package id="Veil.SuperSimple" version="0.2.0" targetFramework="net40" />
</packages>