<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Try Veil - The online tester for Veil templates</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/g/bootstrap@3.2.0(css/bootstrap.min.css+css/bootstrap-theme.min.css)" />
    <link rel="stylesheet" href="/content/css/site.css" />
    <script src="//cdn.jsdelivr.net/g/jquery,react@0.10.0(react.min.js+JSXTransformer.js),bootstrap@3.2.0,lodash"></script>
    <script type="text/jsx" src="/content/js/site.js"></script>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Try Veil</h1>
            <p>Quickly test out the <a href="https://github.com/csainty/Veil">Veil</a> syntax parsers below.</p>
        </div>

        <div class="help">
            <div class="view-model collapse">
                The following model is used to render the templates:
                <pre>{{ this }}</pre>
                <p>
                    Syntax Reference:
                    <ul>
                        <li><a href="https://github.com/csainty/Veil/tree/master/Src/Veil.Handlebars">Veil.Handlebars</a></li>
                        <li><a href="https://github.com/csainty/Veil/tree/master/Src/Veil.SuperSimple">Veil.SuperSimple</a></li>
                    </ul>
                </p>
            </div>
            <button data-toggle="collapse" data-target=".view-model">Toggle Help</button>
        </div>

        <div id="template-editor"></div>
    </div>
</body>
</html>